<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/home.css">

<div id="home-body">

    <h1>Add New Post</h1>

    <% if(locals.user){ %>
        <form action="/post/create" method="POST" id='new-post-form'>
            <textarea name="content" cols="50" rows="3" placeholder="How you doin?" required></textarea>
            <input type="submit" value="POST">
        </form>
    <% } %>

    <h2>Post Feeds</h2>
    <div id="post-container">
        <% for(post of posts){ %>
            <%- include('_post') -%>
        <% } %>

        <br><br><br>
    </div>

</div>

<div id="sidebar-container">
    
    <div id="friends-container">
        <h2><b>Friends</b></h2>
        <ul>
            <% for(friend of friends){ %>
                <p class="friend-item"><a href="/user/profile/<%= friend.id %>"><%= friend.name %></a></p>
            <% } %>
        </ul>
    </div>
    <div id="all-users-container">
        <h2>Users:</h2>
        <% for(u of all_users){ %>
            <p class="user-item"><a href="/user/profile/<%= u.id %>"><%= u.name %></a></p>
        <% } %>

    </div>

</div>


<script src="js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
        console.log('toggle class binded');
    });
</script>


<script src="/js/home_comments.js"></script>
<script src="/js/home_posts.js"></script>