<html>
    <head>
        
        <title><%= title %></title>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">
        <%- style %>
    </head>

    <body>
        <%- include('_header') %>
        
        <div id="body-container">

            <%- body %>

        </div>

        <%- include('_footer') %>
        <%- script %>

        <script>
            <% if( flash.success && flash.success.length>0 ){ %>
                new Noty({
                    text: '<%= flash.success %>',
                    theme: 'light',
                    type: 'success',
                    layout: 'topRight',
                    timeout: 1500
                }).show();
            <% } %>
            
            <% if( flash.error && flash.error.length>0 ){ %>
                new Noty({
                    text: '<%= flash.error %>',
                    theme: 'light',
                    type: 'error',
                    layout: 'topRight',
                    timeout: 1500
                }).show();
            <% } %>

        </script>
    </body>

</html>