<html>
    <head>
        
        <title><%= title %></title>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet"> 
        <%- style %>
    </head>

    <body>
        <%- include('_header') %>
        <% if( flash.success && flash.success.length>0 ){ %>
            <h5><%= flash.success %></h5>
        <% } %>

        <%- body %>

        <%- include('_footer') %>
        <%- script %>
    </body>

</html>